In [5]:
# spam detection with natural language processing 
import nltk

In [6]:
#Loading dataset

In [7]:
import pandas as pd

In [8]:
dt=pd.read_csv("spam.csv",encoding='windows=1252')
dt.head(10)

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [9]:
import chardet
with open("spam.csv",'rb') as rawdata:
    result=chardet.detect(rawdata.read(100000))
    result

In [10]:
dt['spam']=dt['type'].map({'spam':1,'ham':0}).astype(int)

In [11]:
dt.head(10)

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0
5  spam  FreeMsg Hey there darling it's been 3 week's n...     1
6   ham  Even my brother is not like to speak with me. ...     0
7   ham  As per your request 'Melle Melle (Oru Minnamin...     0
8  spam  WINNER!! As a valued network customer you have...     1
9  spam  Had your mobile 11 months or more? U R entitle...     1

In [12]:
print("COLUMNS IN THE GIVEN DATA:")
for col in dt.columns:
    print(col)

COLUMNS IN THE GIVEN DATA:
type
text
spam

In [13]:
t=len(dt['type'])
print("NO OF ROWS IN REVIEW COLUMN:",t)

NO OF ROWS IN REVIEW COLUMN: 116

In [14]:
#Tokenization

In [15]:
dt['text'][4]

"Nah I don't think he goes to usf, he lives around here though"

In [16]:
def tokenizer(text):
    return text.split()

In [17]:
dt['text']=dt['text'].apply(tokenizer)

In [18]:
dt['text'][4]

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [19]:
#Stemming
dt['text'][4]#Before
print("Arun Kumar Gupta")

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [20]:
from nltk.stem.snowball import SnowballStemmer
porter =SnowballStemmer("english",ignore_stopwords=False)

In [21]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [22]:
dt['text']=dt['text'].apply(stem_it)

In [23]:
dt['text'][4]#after

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [24]:
#Lemmitization

In [25]:
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()

In [26]:
def lemmit_it(text):
    return [lemmatizer.lemmatize(word,pos='a') for word in text]

In [27]:
import nltk
wn=nltk.WordNetLemmatizer()
ps=nltk.PorterStemmer()
dir(wn)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'lemmatize']

In [28]:
dt['text']=dt['text'].apply(lemmit_it)

In [29]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [30]:
#Stopword Removal


from nltk.corpus import stopwords
stop_words=stopwords.words("english")

In [31]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Arun\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [32]:
def stop_it(text):
    review=[word for word in text if not word in stop_words]
    return review

In [33]:
dt['text']=dt['text'].apply(stop_it)

In [34]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [35]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [36]:
dt['text']=dt['text'].apply(' '.join)

In [37]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [38]:
#Transform Text Data into TDF /TF-IDF Vectors

from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer()
y=dt.spam.values
x=tfidf.fit_transform(dt['text'])

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_text,y_train,y_text=train_test_split(x,y,random_state=1,test_size=0.2,shuffle=False)

In [40]:
#Classification using Logistic Regression


from sklearn.linear_model import LogisticRegression
clf=LogisticRegression()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_text)

In [41]:
from sklearn.metrics import accuracy_score
acc_log=accuracy_score(y_pred,y_text)*100
print("accuracy:",acc_log)

accuracy: 87.5

In [42]:
#Classification using LinearSVC Accuracy

from sklearn.svm import LinearSVC

linear_svc = LinearSVC(random_state=0)
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_text)
acc_linear_svc =accuracy_score(y_pred, y_text) * 100
print("accuracy:",acc_linear_svc)

accuracy: 87.5